frontend/*
frontend/node_modules
backend/datafile
backend/cache
backend/datafile.zip
frontend/test
frontend/static/json
backend/test/allproblemcache
backend/test/cache
backend/test/dataprocessor/allproblemcache
backend/test/dataprocessor/cache
backend/test/dataprocessor/datafile
backend/test/dataprocessor/dbcache
backend/test/dbcache
backend/test/DensityGrid/byAVG
backend/test/DensityGrid/byCount
backend/test/result
backend/test/selected_problems
backend/test/sequences
backend/test/server15package
backend/test/dbcache.zip
backend/test/dataprocessor.zip
backend/test/seq.txt
backend/test/t
backend/test/userEventSeqData_2_10.csv
backend/test/userEventSeqData_10.csv
backend/test/zq_example.json
backend/test/tosee.py
backend/test/studentinfo.json
backend/test/problemseq.txt
backend/test/dataprocessor/Example.json
backend/test/log
backend/test/data.json